.paginator {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.viewContainer {
	flex: 1;
	position: relative;
	overflow: hidden;
}

.dayWrapper {
	position: absolute;
	inset: 0;
}
